*{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;       
  margin: 0;   
 
}

.nav{
  text-align: center;
  
}
.logo1{
  top:112px;
 position:absolute;
 right: 0px;
 
}
.logo{
top:119px;
position:absolute;
left: 0px;

}

.barre{
  width: 100%;
  height:150vh;   
} 
.menunature{

  width: 100%; 
  top:0px;
  position:absolute;
  z-index: -100000;
}
.menu{
  display: flex;
  justify-content: center;
  align-items:center;
  position: absolute;
  overflow:visible;
  top:121px;
   right: 50px; 
   list-style: none;
}
.menu>li{
    float: left;
    color:black;
    font-weight: bolder;
    width: 200px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1000;
 
}
.sub-menu1 {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    
  }
  .sub-menu1 li {
    font-size: 18px;
    background: white;
    padding: 8px 0;
    color: black;
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
 
  }
  .sub-menu2 {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  
  }
  .sub-menu2 li {
    font-size: 18px;
    background:linear-gradient(90deg, rgb(245, 245, 247) 22%, rgb(237, 71, 105) 97%);
    padding: 8px 0;
    color: black;
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  
  }
  .sub-menu3 {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  .sub-menu3 li {
    font-size: 18px;
    background:linear-gradient(90deg, rgb(254, 254, 254) 22%, rgb(81, 70, 182) 97%);
    padding: 8px 0;
    color: black;
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  .sub-menu4 {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  .sub-menu4 li {
    font-size: 18px;
    background:white;
    padding: 8px 0;
    color: black;
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
  }
  a{
    text-decoration: none;
    color: rgb(6, 6, 6);
  }
  a:hover{
    color: #d01e1e;
  }
  .sub-menu1 li:hover {
    color:rgb(228, 29, 29);
  }
  .sub-menu2 li:hover {
    color:rgb(31, 14, 186);
  }
  .sub-menu3 li:hover {
    color:white;
  }
  .sub-menu3 li:hover {
    color:rgb(228, 29, 29);
  }

  .menu > li:hover .sub-menu1 li {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu1 {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu2 li {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu2 {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu3 li {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu3 {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu4 li {
    transform: scale(1);
  }
  .menu > li:hover .sub-menu4 {
    transform: scale(1);
  }

nav ul{
    list-style-type: none;
}
.verco{
display:flex;
justify-content: flex-start;

}
.verco a{
text-decoration: none;
color: rgb(6, 6, 6);
}
.verco a:hover{
background-color: #0e0e91;
}
.cop28{
position: static;
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
width:450px;
text-align: justify;
line-height: 30px;

}
    /* Style de base pour la liste */
.ul1 {
list-style-type: none;
padding: 0;
}

/* Style des éléments de la liste */
.li1 {
padding: 10px;
border: 1px solid #ccc;
margin: 5px;
cursor: pointer;
}

/* Style de la barre de recherche */
#searchInput {
margin: 10px;
padding: 5px;
}
#searchInput1{
margin: 10px;
padding: 5px;
width: 1327px;
}
.t1{
margin-top:-900px;
}
.prch{
margin-top:-990px;
display: flex;
justify-content: flex-end;
margin-right: 380px;
}
.prch1{
display: flex;
justify-content: flex-end;
margin-right: 255px;
margin-top: -0px;}
.pl1{
display: flex;
justify-content: flex-end;
margin-right: 270px;

}
.prch2{
display: flex;
justify-content: flex-end;
margin-right: 600px;
margin-top: -60px;
}
.prch, .prch1, .prch2{
font-size: 18px;
font-weight: bolder;
}

.land
{
fill: #CCCCCC;
fill-opacity: 1;
stroke:white;
stroke-opacity: 1;
stroke-width:0.5;
}
.mapimage{
width:50%;
float: right;
margin-right: 250px;
}
.mapimage path{
fill:rgb(120, 120, 255);
stroke:rgb(212, 25, 25);
stroke-width: 2px;
transition: fill 0.3s;
}
.mapimage path:hover{
fill:rgb(21, 21, 161)
}

.maplist{
font-size: 18px;
font-family: 'Times New Roman', Times, serif;
float:right;

margin-right: -950px;
margin-top: 200px;
}

.siteamis{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 800px;
}
.fleche{
  width: 25px;
  height: 25px;
  margin-left:1490px;
}
@media screen and (max-width: 1320px) {
  nav{
    display: none;
  }
/* MOUVEMENT///////////////////////////////////////////////////////////////////////////////////////////*/
.his{
margin-top:-900px;
line-height: 30px;
font-weight: 22px;}

.tex1{
line-height: 30px;
font-weight: 22px;
display: flex;
justify-content: space-around;
font-size: 28px;
}
.vid{
display:flex;
justify-content: space-around;}
.box{
  position: relative;
  margin-left: 650px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate{
  0%
  {
    transform: perspective(1000px) rotateY(0deg);
  }
  100%
  {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.box span{
  position: absolute;
  top:0;
  left:0px;
  width: 100%;
  height: 100%;
  transform-origin: center;
transform-style: preserve-3d;
transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}
.box span img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1{
  text-align: center;
}
footer{
  font-size: 16px;
  text-align: center;
  color: #f2f2f4;
  font-weight: bolder;
  background-color: #3030c8;
}
/*cdt///////////////////////////////////////////////////////////*/
.box1{
  position: relative;
  margin-left: 650px;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate{
  0%
  {
    transform: perspective(1000px) rotateY(0deg);
  }
  100%
  {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.box1 span{
  position: absolute;
  top:0;
  left:0px;
  width: 100%;
  height: 100%;
  transform-origin: center;
transform-style: preserve-3d;
transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}
.box1 span img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container {
  display: inline-block;
position: relative;
margin-left: 600px;

}
.container .text {
 
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: Georgia;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 80%;
  color: rgb(169, 22, 22);
  width: 70%;
}
.enco{
  margin-top: -900px;
}
table{
  border-collapse: collapse;

}
td{
  border: 2px solid rgb(64, 33, 204);
  padding: 15px;
}
tr{
  border: 1px solid rgb(64, 33, 204);
  border-collapse: collapse;
}
table{
  display: block;
 width:1200px;
 margin-left: auto;
 margin-right: auto;}
 /*donation//////////////////////////////////////////////////////////////////////////////////*/
 
 .don{
  display: block;
  width: 500px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -900px;
 }
 
.tb{
  display: flex;
  justify-content: space-around;}
  .dn{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size:28px;
    padding: 10px 20px;
    border: solid #1f1a1a 0px;
    box-shadow: black 0px 5px 15px 0px;
    border-radius: 10px;
    transition : 0ms;
    transform: translateY(0);
    right: 900px;
    background: linear-gradient(90deg,rgb(244, 251, 251)22%,  rgb(28, 21, 233)97%);    
    }
  
    .button .dn:hover{
    color: #d62828;
    }


  .ch{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size:28px;
    padding: 10px 20px;
    border: solid #1f1a1a 0px;
    box-shadow: black 0px 5px 15px 0px;
    border-radius: 10px;
    transition : 0ms;
    transform: translateY(0);
    right: 900px;
    background: linear-gradient(90deg,rgb(244, 251, 251)22%,  rgb(170, 43, 11)97%);    
    }
  
    .button .ch:hover{
    color: #d62828;
    }
    .ch, .dn{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:400px;
    }
    /*form/////////////*/
    form{
      background:linear-gradient(90deg,rgb(85, 82, 176) 22%, rgb(231, 231, 246) 97%);
      padding: 35px;
      margin: 25px;
      border-radius: 25px;
      width: 800px;
     display: block;
     margin-left: auto;
     margin-right: auto;
    }
    fieldset{
      border: none;
      margin: 35px;
    }
    
    legend{
      font-size: 1.8em;
      color:white;
    }
    fieldset input {
      margin: 10px;
      text-align: left;
    }
    
    input[type="submit"]{
      border: none;
      padding: 10px;
      background: linear-gradient(360deg,rgb(244, 251, 251)22%,  rgb(198, 196, 248)97%); 
      border-radius: 15px;
      transition: 0.8s;
      font-size: 16px;
      
    }
    
    input[type="submit"]:hover{
     color:#d62828;
      cursor: pointer;
    }
    /*stat///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .cam1 {
      margin-top: 100px;
      display: block;
     
      width: 400px;
      margin-left: auto;
      margin-right: auto;
      height: 400px;
      border-radius: 50%;
      background-image: conic-gradient(
          #ec092f 20deg, 
          rgb(37, 26, 179) 0 340deg, 
          rgb(76, 74, 74) 0);
  }
  .st1{
    margin-top: -900px;
  }
  .c1{
    color:#ec092f ;
    font-size: 28px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
  }
  .c2{
    color:rgb(76, 74, 74);
    font-size: 28px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
  }
  .lfe{
color:   rgb(37, 26, 179);
font-size: 28px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
  }

  .cam2 {
    margin-top: 100px;
    display: block;
   
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(
        #ec092f 0deg, 
        rgb(37, 26, 179) 0 360deg, 
        rgb(76, 74, 74) 0);
}
.st2{
  margin-top: 50px;
}
.c1{
  color:#ec092f ;
  font-size: 28px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}
.c2{
  color:rgb(76, 74, 74);
  font-size: 28px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}
.lfe1{
color:   rgb(37, 26, 179);
font-size: 28px;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
}
hr{
  height: 3px;
  width:600px;
  display:block;
 margin-left: auto;
 margin-right: auto;
  background-color: rgb(52, 190, 52);
  border: none;
}


.ad{
  margin-top: -850px;
}
h3{
  text-align: center;
}
form{
  background:linear-gradient(90deg,rgb(85, 82, 176) 22%, rgb(231, 231, 246) 97%);
  padding: 35px;
  margin-top: 25px;
  border-radius: 25px;
  width: 800px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 line-height: 35px;
}
fieldset{
  border: none;
  margin: 35px;
}

legend{
  font-size: 1.8em;
  color:white;
}
fieldset input {
  margin: 10px;
  text-align: left;
}

input[type="submit"]{
  border: none;
  padding: 10px;
  background: linear-gradient(360deg,rgb(244, 251, 251)22%,  rgb(198, 196, 248)97%); 
  border-radius: 15px;
  transition: 0.8s;
  font-size: 16px;
  
}

input[type="submit"]:hover{
 color:#d62828;
  cursor: pointer;
}
/* *******petition///////////////////////////////////////////////////////////////////////////////////////////////////*/
.try{
margin-top: 100px;
}
.signe{
  color: #1b1ba5;
  margin-top: -800px;
  line-height: 60px;
  width: 800px;
 margin-left: 350px;
}
/* candidat ///////////////////////////////////////////////////////*/

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 20px;
  position: relative;
  z-index: 1000000;
}


.close-button {
 
  cursor: pointer;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size:28px;
  padding: 10px 20px;
  border: solid #1f1a1a 0px;
  box-shadow: black 0px 5px 15px 0px;
  border-radius: 10px;
  right: 900px;
  background: linear-gradient(90deg,rgb(244, 251, 251)22%,  rgb(28, 21, 233)97%);   
  margin-left: 50px;
  height: 30px;
  width: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.open-popup-button {
  cursor: pointer;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size:28px;
    padding: 10px 20px;
    border: solid #1f1a1a 0px;
    box-shadow: black 0px 5px 15px 0px;
    border-radius: 10px;
    right: 900px;
    background: linear-gradient(90deg,rgb(244, 251, 251)22%,  rgb(28, 21, 233)97%);    
    margin-left: 580px;

}